@font-face {
  font-family: 'OceanwideSemibold';
  src: url('../../oceanwide-pro/semibold-oceanwide-39941/Oceanwide-Semibold.otf') format('opentype');
}

@font-face {
  font-family: 'Crayon';
  src: url('../../colored-crayons-font/ColoredCrayons-7wPR.ttf') format('truetype');
}

@keyframes zoomIn {
  from {
    transform: scale(0.5);
    bottom: -25%;
  }
  to {
    transform: scale(1);
    bottom: 0%;
  }
}

.whole{
  min-height: 100%;
  display: flex;
  min-height: 100vh;
}

/* .miniwhole{
  min-height: 100%;
  display: flex;
  min-height: 98vhs;
} */

.left{
  background-color: black;
  display: flex;
  flex-direction: column;
  /* min-width: 10%; */
  width: 10rem;
}

.leftbar{
  background-color: white;
  display: flex;
  align-self: flex-start;
  min-width: 100%;
  min-height: 80%;
  border-radius: 5rem 0 0 0;
  /* border-top-left-radius: ; */
}

.leftbarinner{
  background-color: #F5F5FC;
  display: flex;
  align-self: flex-start;
  min-width: 90%;
  min-height: 100%;
  flex-grow: 1;
  /* max-height: 100%; */
  margin: 5%;
  border-radius: 5rem 5rem 0rem 5rem;
  /* border-top-left-radius: ; */
}

.lefttoggle{
  background-color: white;
  display: flex;
  min-width: 100%;
  min-height: 20%;
  align-self: flex-end;
  border-radius: 0 0 0 5rem;
}

.lefttoggle2{
  background-color: #F5F5FC;
  display: flex;
  min-width: 95%;
  min-height: 100%;
  margin-right: 5%;
  align-self: flex-end;
  border-radius: 5rem 0 0 5rem;
}

.lefttoggle3{
  background-color: white;
  display: flex;
  min-height: 100%;
  min-width: 100%;
  border-radius: 5rem 5rem 0 5rem;
}

.right{
  background-color: white;
  display: flex;
  flex-direction: column;
  position: relative;
  /* min-width: fit-content; */
  flex-grow: 1;
}

.power{
  position: absolute;
  width: 100%;
  height: 100%;
  align-items: center;
}

.power1{
  height:4%;
}

.create{
  position: absolute;
  width: 95%;
  /* align-self: center; */
  /* left: 50%; */
  top: 50%;
  max-width: 90rem;
  /* width: 100%;
  height: 100%; */
}

.human{
  /* position: fixed; */
  /* bottom: 0; */
  /* left: 50%;
  transform: translateX(-50%); */
  position: relative;
  animation: zoomIn 2s ease-in-out;
  /* animation-delay: 0.5s; */
  display: block;
  width: auto;
  height: 100%; 
  margin: 0 auto;
  object-fit: contain;
}

/* .human:hover{
  transition: transform 0.3s ease-in-out;
  transform: scale(1.2);
} */

.header{
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}


h1{
  font-family: 'Crayon';
  font-size: 5rem;
  /* color: rgb(37, 35, 35); */
}
